<!doctype html>
<html>
  <head>
    <title>CriSee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/settings.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/switch.css" rel="stylesheet">

    <!-- JavaScript -->
    <script src="js/apple-mobile-webapp.js" ></script>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>


  </head>
  <body>

    <h2> Settings </h2>

    <!-- footer -->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="btn-group btn-group-justified">
          <a class="btn btn-default" role="button" href="/">
            <span class="glyphicon glyphicon-home"></span>
          </a>
          <a class="btn btn-default" role="button" href="/help">
            <span class="glyphicon glyphicon-question-sign"></span>
          </a>
          <a class="btn btn-default" role="button" href="/settings">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </div>
    </nav>


    <div class="container">
    </br>
    <!-- Alert buttons -->
    {{#if settings_saved}}
    <div id="settings-saved" class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <center><strong>Settings saved</strong></center>
    </div>
    {{/if}}

     <script>
      setTimeout(function(){
        $('.alert.alert-success').delay(3000).fadeOut("slow");
      });
    </script>

    <form role="form" method="post" action="/settings">
      <div class="form-group">
        <label for="myonoffswitch" style="margin-left: 10px; margin-top: 5px;">Reminders</label>
        <div class="onoffswitch" style="margin-left: 10px;">
          <input type="checkbox" onclick = "showMore()" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" {{reminders}}>
          <label class="onoffswitch-label" for="myonoffswitch">
              <div class="onoffswitch-inner"></div>
              <div class="onoffswitch-switch"></div>
          </label>
      </div>

      <div class="toHide form-group" style="margin:10px;">
        <label class="checkbox"><input type="checkbox" name="food" {{food}}>Food</label>
        <label class="checkbox"><input type="checkbox" name="sleep" {{sleep}}>Sleep</label>
        <label class="checkbox"><input type="checkbox" name="exercise" {{exercise}}>Exercise</label>
      </div>

    <form role="form">
      <div class="toHide">
        <div class="form-group phone" style="margin-bottom:0px;">
          <label for="inputPhone">Phone</label>
          <input type="tel" name="phone" class="form-control" id="inputPhone" placeholder="Enter phone number" value="{{phone}}">
        </div>
      </div>

      <script>
      function showMore() {
        if ($('#myonoffswitch').is(":checked")) {
          $('.toHide').show('slow');
        } else {
          $('.toHide').hide('slow');
        }
      }
      </script>

      <script>
        $(document).ready(function() {
          if ('{{reminders}}' !== 'checked') showMore();
        });
      </script>

      <script>
        var phoneBox = $('#inputPhone')[0];
        phoneBox.onfocus = function() {
          var bottombar = $('nav.navbar-fixed-bottom');
          bottombar.hide();
        };
        phoneBox.onblur = function() {
          var bottombar = $('nav.navbar-fixed-bottom');
          bottombar.show();
        };
      </script>

      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Save Settings</button>
      <a href="/signout" id="signout" class="btn btn-danger" role="button">Sign out</a>
    </div>
    </br>

    </div>

    <!-- JavaScript -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
